



<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BDAT 1004-04</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
<body style="font-family:arial, sans-serif">
    <h1 style="background:Black; color:White; padding:30px">
            <b>BDAT 1004-Data Programming Final Project By Group 12</b>
    </h1>
    
    <h2>Select any link to view the content</h2>
    
    <h1><a href="chart1">Top 10 Highest Populated Countries in 1952 (Bar Chart)</a></h1>
    <h1><a href="chart2">Top 10 Highest Populated Countries in 2007 (Bar Chart)</a></h1>
    <h1><a href="chart3">Countries With the lowest population in 1952 (Bar Chart)</a></h1>
    <h1><a href="chart4">Countries With the lowest population in 2007 (Bar Chart)</a></h1>
    <h1><a href="chart5">Top 5 Countries With Highest Life Expectancy in 1952 (Scatter Chart)</a></h1>
    <h1><a href="chart6">Top 5 Countries With Highest Life Expectancy in 2007 (Scatter Chart)</a></h1>
    <h1><a href="chart7">Countries With the Lowest Life Expectancy in 1952 (Scatter Chart)</a></h1>
    <h1><a href="chart8">Countries With the Lowest Life Expectancy in 2007 (Scatter Chart)</a></h1>
    <h1><a href="chart9">GDP Percap of Selected Countries between Years 1952 to 2007 (Line Chart)</a></h1>

</body>
</html>